<ap-page-header [breadcrumbs]="[{label: '首页', link: '/'}, {label: '列表页'}, {label: '查询表格'}]" title="查询表格"></ap-page-header>

<div class="page-content">

  <nz-card>
    <div class="mb-3">
      <button (click)="null" nz-button nzType="primary"><i class="anticon anticon-plus"></i> 新建</button>
    </div>
  
    <nz-alert nzType="info" [nzMessage]="messageTpl" nzShowIcon class="mb-3">
      <ng-template #messageTpl>
        已选择 <span class="text-info">0</span> 项  服务调用次数总计 <span class="text-info">0</span> 万
        <a href="javascript:;" class="ml-3">清空</a>
      </ng-template>
    </nz-alert>

    <nz-table #nzTable [nzData]="[]" [nzPageSize]="10">
      <thead>
        <tr>
          <th>编号</th>
          <th>描述</th>
          <th>服务调用次数</th>
          <th>状态</th>
          <th>更新时间</th>
          
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of nzTable.data">
          <td>{{i.title}}</td>
          
          <td>
            <a href="#" (click)="edit(i)">编辑</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a href="#" (click)="del(i)">删除</a>
            <nz-divider nzType="vertical"></nz-divider>
            <nz-dropdown>
              <a class="ant-dropdown-link" nz-dropdown>
                更多 <i class="anticon anticon-down"></i>
              </a>
              <ul nz-menu>
                <li nz-menu-item>
                  <a (click)="null">active</a>
                </li>
              </ul>
            </nz-dropdown>
            
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>


</div>