.card-info {
    zoom: 1;
    margin-top: 16px;
    margin-left: 40px;
    &::before {
        content: " ";
        display: table;
    }
    > div {
        position: relative;
        text-align: left;
        float: left;
        width: 50%;
        > p {
            line-height: 32px;
            font-size: 24px;
            margin: 0;
        }
        > p:first-child {
            color: rgba(0,0,0,.45);
            font-size: 12px;
            line-height: 20px;
            margin-bottom: 4px;
        }
    }
    &::after {
        clear: both;
        visibility: hidden;
        font-size: 0;
        height: 0;
    }
}