<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">
    <div class="logo"></div>
  </a>

  <div class="navbar-nav-scroll">
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
      <li nz-menu-item [routerLink]="['/my']">我的</li>
      <li nz-menu-item [routerLink]="['/product']">产品</li>
      <li nz-menu-item [routerLink]="['/project']">项目</li>
      <li nz-menu-item [routerLink]="['/test']">测试</li>
      <li nz-menu-item [routerLink]="['/doc']">文档</li>
      <li nz-menu-item [routerLink]="['/report']">统计</li>
      <li nz-menu-item [routerLink]="['/group']">组织</li>
      <li nz-menu-item [routerLink]="['/feedback']">反馈</li>
    </ul>
  </div>

  <div class="ml-md-auto d-none d-md-block">
    <input nz-input>
  </div>
  <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" class="d-none d-md-block ml-3" style="line-height: 64px;">
    <li nz-menu-item>管理</li>
    <li nz-menu-item>帮助</li>
    <li nz-menu-item>关于</li>
  </ul>
  <div class="p-3">
      <nz-avatar nzIcon="anticon anticon-user" style="background-color:#87d068;"></nz-avatar>
      <span class="ml-2">ZhangSan</span>
  </div>

</header>