.navbar {
    padding: 0;

    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, .2);
    margin: 16px 28px;
    float: left;
}