
ul.draggable-list {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
        height: 30px;
        line-height: 30px;
        padding: 0 16px;
        
        cursor: move;
        cursor: -webkit-grab;
        cursor: -moz-grab;
        cursor: -ms-grab;
        cursor: -o-grab;

        overflow: hidden;
        word-wrap: normal;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:hover {
            background: #4a90e2;
            color: #ffffff;
        }
    }
}

.drag-helper {
    background: #4a90e2;
    border: 1px solid #cccccc;
    border-radius: 14px;
    color: #ffffff;
    max-width: 60px;
    z-index: 10000;
}