<nz-layout class="fill">
  <nz-sider [nzCollapsible]="true" [nzWidth]="200" [nzCollapsedWidth]="64" [nzTrigger]="null">
    <div class="product-select" style="background: #ffffff; height: 64px; overflow: hidden;">
      <h2>企业网站建设</h2> &gt;
    </div>

    <div class="fill" style="top: 64px; overflow: auto;">
    <ul nz-menu>
      <li nz-menu-item>概况</li>
      <li nz-menu-divider></li>
      <li nz-menu-item>需求</li>
      <li nz-menu-item>计划</li>
      <li nz-menu-item>发布</li>
      <li nz-menu-item>项目</li>
      <li nz-menu-item>文档</li>
      <li nz-menu-item>动态</li>
      <li nz-menu-item>路线图</li>
      <li nz-menu-item>模块</li>
      <li nz-menu-divider></li>
      <li nz-menu-item>设置</li>
      <li nz-submenu style="display: none;">
        <span title>子菜单</span>
        <ul>
          <li nz-menu-item>子菜单项</li>
        </ul>
      </li>
    </ul>
  </div>

  </nz-sider>
  <nz-content>

  </nz-content>
</nz-layout>