<div class="page-content">
  <nz-row nzGutter="16">
    <nz-col nzLg="6" nzMd="12">
      <nz-card [nzBordered]="false" [nzLoading]="true">
      </nz-card>
    </nz-col>
    <nz-col nzLg="6" nzMd="12">
      <nz-card [nzBordered]="false" [nzLoading]="true">
      </nz-card>
    </nz-col>
    <nz-col nzLg="6" nzMd="12">
      <nz-card [nzBordered]="false" [nzLoading]="true">
      </nz-card>
    </nz-col>
    <nz-col nzLg="6" nzMd="12">
      <nz-card [nzBordered]="false" [nzLoading]="true">
      </nz-card>
    </nz-col>
  </nz-row>

  <nz-card style="width: 100%;">
    <nz-card-tab>
      <nz-tabset nzSize="large" [(nzSelectedIndex)]="idx" [nzTabBarExtraContent]="extraTpl">
        <nz-tab nzTitle="销售额"></nz-tab>
        <nz-tab nzTitle="访问量"></nz-tab>
        <ng-template #extraTpl>
          <div class="mt-2">
            <a class="mx-3">今日</a>
            <a class="mx-3">本周</a>
            <a class="mx-3">本月</a>
            <a class="mx-3">全年</a>
            <nz-range-picker></nz-range-picker>
          </div>
        </ng-template>
      </nz-tabset>
    </nz-card-tab>
    <ng-container *ngIf="idx === 0">Content article</ng-container>
    <ng-container *ngIf="idx === 1">Content app</ng-container>
  </nz-card>

  <nz-row nzGutter="16">
    <nz-col nzLg="12" nzMd="24">
      <nz-card title="线上热门搜索" [nzBordered]="false" [nzLoading]="true">
      </nz-card>
    </nz-col>
    <nz-col nzLg="12" nzMd="24">
      <nz-card title="销售额类别占比" [nzBordered]="false" [nzLoading]="true">
      </nz-card>
    </nz-col>
  </nz-row>
  
  <nz-card [nzBordered]="false" [nzLoading]="true">
  </nz-card>
</div>