<ap-page-header title="拖放"></ap-page-header>

<div class="page-content">
  <nz-card [nzBordered]="false">
    <div style="height: 400px; padding: 50px; margin: 50px; position: relative;">

  <div class="box resize-box" apResizable apMovableBox>
    box1
  </div>
  <div class="box resize-box" apResizable apMovableBox>
    box2
  </div>

</div>


<h2>movable area</h2>

<div class="area" apMovableArea>
  <div class="box" apMovable>Trapped 1</div>
  <div class="box" apMovable>Trapped 2</div>
</div>

<h2>Dragable helper</h2>

<!-- <div style="">
  <div class="box" apDraggable [helper]="helper">Drag me!</div>
</div>
<ng-template #helper>
  <div class="box helper">Dragging...</div>
</ng-template>
<div style="">
  <div class="box" apDraggable [helper]="helper">Drag me!</div>
</div>
<ng-template apDraggableHelper #helper="apDraggableHelper">
  <div class="box helper">Dragging...</div>
</ng-template> -->
<div style="overflow: hidden;">
  <div class="box" apDraggable>
    Drag me!

    <div class="box helper" *apDraggableHelper>Dragging...</div>
  </div>
</div>

<h2>Sortable list</h2>

<h3>Vertical</h3>
<ul class="sortable-list" apSortableList (sort)="sort($event)">
  <li *ngFor="let item of sortableList" class="box" apSortable>
    {{item}}

    <div class="box" *apDraggableHelper>{{item}}</div>
  </li>
</ul>

<h3>Horizontal</h3>
<ul class="sortable-list horizontal" apSortableList (sort)="sort($event)">
  <li *ngFor="let item of sortableList" class="box" apSortable>
    {{item}}

    <div class="box" *apDraggableHelper>{{item}}</div>
  </li>
</ul>

<h2>Part 6 - The dropzone</h2>

<div *ngFor="let box of availableBoxes" class="box" apDroppable (dragStart)="currentBox = box">
  {{box}}
  <div *apDraggableHelper class="box">
    {{box}}
  </div>
</div>

<div class="dropzone" apDropzone (drop)="move(currentBox, dropzone1)" (remove)="move(currentBox, availableBoxes)">
  <div *ngFor="let box of dropzone1" class="box" apDroppable (dragStart)="currentBox = box">
    {{box}}
    <div *apDraggableHelper class="box">
      {{box}}
    </div>
  </div>
</div>

<div class="dropzone" apDropzone (drop)="move(currentBox, dropzone2)" (remove)="move(currentBox, availableBoxes)">
  <div *ngFor="let box of dropzone2" class="box" apDroppable (dragStart)="currentBox = box">
    {{box}}
    <div *apDraggableHelper class="box">
      {{box}}
    </div>
  </div>
</div>

  </nz-card>
</div>
