
// Binding styles
.ap-draggable {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -ms-grab;
  cursor: -o-grab;

  user-select: none;
}

.ap-draggable-helper {
  opacity: 0.8;
}

// Examples
$primary-color: #007bff;

.draggable-box {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  border: 1px solid $primary-color;
  color:$primary-color;
  border-radius: 2px;
  background: #ffffff;
}

ul.sortable-list {
  padding: 0;
  margin: 0;

  > li {
    display: block;
    width: 180px;
  }

  .sortable {

    margin: 0.5rem 0; 
    position: relative;

    &.drag-over {
      background: rgba($color: $primary-color, $alpha: 0.25);
    }

    &.drag-over-gap-top {
      &::before {
        content: '';
        display: block;
        height: 1px;
        border-top: 2px solid rgba($color: $primary-color, $alpha: 0.75);
        position: absolute;
        top: -4px;
        width: 100%;
        left: 0;
      }
    }

    &.drag-over-gap-bottom {
      &::after {
        content: '';
        display: block;
        height: 1px;
        border-top: 2px solid rgba($color: $primary-color, $alpha: 0.75);
        position: absolute;
        bottom: -4px;
        width: 100%;
        left: 0;
      }
    }
  }
}

.cross-box {
  padding: 1.5rem 1rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
}