<ap-page-header title="Drag and Drop"></ap-page-header>

<div class="page-content">
  <nz-card [nzBordered]="false">
    <ng-container [ngTemplateOutlet]="partOne"></ng-container>
    <ng-container [ngTemplateOutlet]="partTwo"></ng-container>
    <ng-container [ngTemplateOutlet]="partThree"></ng-container>
    <ng-container [ngTemplateOutlet]="partFour"></ng-container>
  </nz-card>
</div>

<ng-template #partOne>
  <h2>Part I: Init Draggable Directive</h2>
  <div apDraggable class="draggable-box">Draggable Box</div>
  <div apDraggable class="draggable-box ml-5">
    Draggable Box Width Helper
    <div class="draggable-box-helper" *apDraggableHelper>
      Draggable Helper
    </div>
  </div>
</ng-template>

<ng-template #partTwo>
  <h2>Part II: Sortable List Directive</h2>
  <ul apSortableList class="sortable-list" (sort)="onSort(sortableList, $event)">
    <li *ngFor="let item of sortableList" apDraggable apDroppable apSortable class="draggable-box" (dragStart)="onDragStart(item)" >{{item}}</li>
  </ul>
</ng-template>

<ng-template #partThree>
  <h2>Part III: Cross Sortable List Directive</h2>
  <div class="d-flex">
    <div class="cross-box">
      <ul apSortableList class="sortable-list" (sort)="onSort(sortableList1, $event)" (append)="onAppend(sortableList1, $event)">
        <li *ngFor="let item of sortableList1" apDraggable apDroppable apSortable class="draggable-box" (dragStart)="onDragStart(item)" >{{item}}</li>
      </ul>
    </div>
    <div class="cross-box ml-4">
      <ul apSortableList class="sortable-list" (sort)="onSort(sortableList2, $event)">
        <li *ngFor="let item of sortableList2" apDraggable apDroppable apSortable class="draggable-box">{{item}}</li>
      </ul>
    </div>
  </div>
</ng-template>

<ng-template #partFour>
  <h2>Part IV: Drag Handle</h2>
  <div apDraggable class="draggable-box">
    Draggable Box Width Helper 
    <span apDragHandle>
      <i class="anticon anticon-form"></i>
    </span>

    <div class="draggable-box-helper" *apDraggableHelper>
      Draggable Helper
    </div>
  </div>
  <br>
  <div apDraggable class="draggable-box mt-4">
    Draggable Box Outer 
    <span apDragHandle>
      <i class="anticon anticon-form"></i>
    </span>

    <div class="draggable-box-helper" *apDraggableHelper>
      Draggable Helper Outer
    </div>

    <div apDraggable class="draggable-box ml-5">
      Draggable Box Inner
      <span apDragHandle>
        <i class="anticon anticon-form"></i>
      </span>
  
      <div class="draggable-box-helper" *apDraggableHelper>
        Draggable Helper Inner
      </div>
    </div>
  </div>
</ng-template>
