<div class="page-content">
  <nz-card>
    <div>
      所属类目：
    </div>
    <div>
      其他选项:
    </div>
  </nz-card>

  <nz-list [nzDataSource]="list" [nzRenderItem]="item" [nzGrid]="{gutter: 16, xs: 24, sm: 12, md: 8, lg: 8, xl: 6 }" class="mt-4">
    <ng-template #item let-item>
      <nz-list-item [nzContent]="listItemContent">
        <ng-template #listItemContent>
          <nz-card [nzCover]="coverTemplate">
            <nz-card-meta [nzTitle]="item.title" [nzDescription]="item.subDescription">
              <!-- TODO: 添加省略指令或组件，用于在有限的区域显示不同长度的内容输出
                   <Ellipsis lines={2}>{item.subDescription}</Ellipsis> -->
            </nz-card-meta>
            <ng-template #coverTemplate>
              <img [alt]="item.title" [src]="item.cover" height="154" />
            </ng-template>

            <div class="card-item-content mt-3">
              <span>{{item.updatedAt | date: 'MM-dd HH:mm'}}</span>
              <!-- TODO: 添加友好时间输出指令，fromNow， 输出如 “1分钟前” -->
              <div class="avatar-list">
                <!-- <AvatarList size="mini">
                    {item.members.map((member, i) => (
                      <AvatarList.Item
                        key={`${item.id}-avatar-${i}`}
                        src={member.avatar}
                        tips={member.name}
                      />
                    ))}
                  </AvatarList> -->
              </div>
            </div>
          </nz-card>
        </ng-template>
      </nz-list-item>
    </ng-template>
  </nz-list>
</div>