<ap-page-header title="团队">
  <ng-template #actions>
    <button (click)="null" nz-button nzType="primary">创建团队</button>
  </ng-template>
  <ng-template #content>
    <span>欢迎来到团队！</span>
    <span>团队成员可以访问团队的所有项目。</span>
  </ng-template>
  <ng-template #tabs>
    <nz-tabset>
      <nz-tab nzTitle="我的团队">
      </nz-tab>
      <nz-tab nzTitle="全部团队">
      </nz-tab>
    </nz-tabset>
  </ng-template>
</ap-page-header>

<div class="page-content">
  <nz-card>
    <nz-list [nzDataSource]="myGroups" [nzRenderItem]="item">
      <ng-template #item let-i>
        <nz-list-item [nzActions]="[actions]">
          <nz-list-item-meta [nzTitle]="itemTitle" [nzAvatar]="i.avatar" [nzDescription]="description">
            <ng-template #itemTitle>
              <a [routerLink]="['/groups', i.id]" routerLinkActive="router-link-active" >{{i.name}}</a>
              <span class="ml-2">身份 {{i.identity}}</span>
            </ng-template>
            <ng-template #description>
              {{i.projectCount}} 个项目, {{i.userCount}} 个用户
            </ng-template>
          </nz-list-item-meta>
          <ng-template #actions>
            <button (click)="null" nz-button class="ml-2">设置</button>
            <button (click)="null" nz-button class="ml-2">退出</button>
          </ng-template>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </nz-card>
</div>