<ap-page-header title="Project 1">
    <ng-template #logo>
      <img src="http://git.parim.net/uploads/group/avatar/212/34739_20160315114258.gif" alt="Project 1" style="width: 96px; height: 96px;">
    </ng-template>
    <ng-template #content>
      <div>所属团队：Group 1</div> <!-- 个人项目 -->
      <div>项目的描述</div>
    </ng-template>
  </ap-page-header>

  <div class="page-content">
    <nz-card nzTitle="项目概况" [nzBordered]="false" [nzLoading]="true" class="mb-4">
      接口数量 | 测试概况 | 文档数量
    </nz-card>

    <nz-card nzTitle="项目活动" [nzBordered]="false" [nzLoading]="true">
      
    </nz-card>
  </div>