<ap-page-header title="Splitter"></ap-page-header>


<div class="splitter-container d-flex">
  <div #splitterLeft style="background: rgba(200, 0, 0, 0.2);">Content Left</div>
  <div apSplitter apSplitterBoundary=".splitter-container" [apSplitterPrev]="splitterLeft" class="ap-splitter"></div>
  <div style="background: rgba(0, 200, 0, 0.2);">Content Right</div>
</div>

<div class="splitter-container y d-flex flex-column">
  <div #splitterTop style="background: rgba(200, 0, 0, 0.2);">Content Left</div>
  <div apSplitter apSplitterBoundary=".splitter-container" apSplitterLockAxis="y" [apSplitterPrev]="splitterTop" class="ap-splitter"></div>
  <div style="background: rgba(0, 200, 0, 0.2);">Content Right</div>
</div>


<div class="splitter-container y d-flex flex-column">
  <div style="flex: auto 1; background: rgba(200, 0, 0, 0.2);">Content Left</div>
  <div apSplitter apSplitterBoundary=".splitter-container" apSplitterLockAxis="y" [apSplitterNext]="splitterBottom" class="ap-splitter"></div>
  <div #splitterBottom style="min-height: 50px; background: rgba(0, 200, 0, 0.2);">Content Right</div>
</div>
<!-- lockAxis -->