<ap-page-header title="接口信息">
  <ng-template #tabs>
    <nz-tabset>
      <nz-tab nzTitle="详情">
      </nz-tab>
      <nz-tab nzTitle="示例（3）">
      </nz-tab>
      <nz-tab nzTitle="文档">
      </nz-tab>
      <nz-tab nzTitle="预览">
      </nz-tab>
    </nz-tabset>
  </ng-template>
</ap-page-header>

<div class="page-content">
  <nz-card>
    <h5>基本信息</h5>
    <div>
      <ng-container [ngTemplateOutlet]="baseInfoFormTpl"></ng-container>
    </div>
    <nz-divider></nz-divider>

    <h5>请求参数</h5>
    <div>
      <ng-container [ngTemplateOutlet]="requestInfoTpl"></ng-container>
    </div>
    <nz-divider></nz-divider>

    <h5>请求响应</h5>
    <div>
      <ng-container [ngTemplateOutlet]="responseInfoTpl"></ng-container>
    </div>
  </nz-card>
</div>

<ng-template #baseInfoFormTpl>
  <form nz-form [formGroup]="baseInfoForm" (ngSubmit)="_submitForm($event, groupName.value)" nzLayout="horizontal">
    <nz-form-item>
      <nz-form-label nzSpan="4" nzRequired>接口名称</nz-form-label>
      <nz-form-control nzSpan="18">
        <input nz-input formControlName="name" placeholder="请输入接口名称">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="4" nzRequired>请求URL</nz-form-label>
      <nz-form-control nzSpan="18">
        <input nz-input formControlName="url" placeholder="请输入接口URL">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzSpan="4" nzRequired>所属模块</nz-form-label>
      <nz-form-control nzSpan="7">
        <input nz-input formControlName="url" placeholder="请输入接口URL">
      </nz-form-control>
      <nz-form-label nzSpan="4" nzRequired>是否激活</nz-form-label>
      <nz-form-control nzSpan="7">
        <input nz-input formControlName="url" placeholder="请输入接口URL">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="4" nzRequired>请求方式</nz-form-label>
      <nz-form-control nzSpan="7">
        <input nz-input formControlName="url" placeholder="请输入接口URL">
      </nz-form-control>
      <nz-form-label nzSpan="4" nzRequired>请求协议</nz-form-label>
      <nz-form-control nzSpan="7">
        <input nz-input formControlName="url" placeholder="请输入接口URL">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="4" nzRequired>请求格式</nz-form-label>
      <nz-form-control nzSpan="7">
        <input nz-input formControlName="url" placeholder="请输入接口URL">
      </nz-form-control>
      <nz-form-label nzSpan="4" nzRequired>响应格式</nz-form-label>
      <nz-form-control nzSpan="7">
        <input nz-input formControlName="url" placeholder="请输入接口URL">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="4" nzRequired>接口标识</nz-form-label>
      <nz-form-control nzSpan="7">
        <input nz-input formControlName="url" placeholder="请输入接口URL">
      </nz-form-control>
      <nz-form-label nzSpan="4" nzRequired>忽略公共参数</nz-form-label>
      <nz-form-control nzSpan="7">
        <input nz-input formControlName="url" placeholder="请输入接口URL">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="4" nzRequired>开发状态</nz-form-label>
      <nz-form-control nzSpan="7">
        <input nz-input formControlName="url" placeholder="请输入接口URL">
      </nz-form-control>
      <nz-form-label nzSpan="4" nzRequired>开发责任人</nz-form-label>
      <nz-form-control nzSpan="7">
        <input nz-input formControlName="url" placeholder="请输入接口URL">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzSpan="4" nzRequired>标签</nz-form-label>
      <nz-form-control nzSpan="18">
        <input nz-input formControlName="tags" placeholder="请输入接口URL">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="4" nzRequired>描述信息</nz-form-label>
      <nz-form-control nzSpan="18">
        <textarea nz-input formControlName="description" [nzAutosize]="{minRows: 3, maxRows: 6}" placeholder=""></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>

<ng-template #requestInfoTpl>
  <nz-tabset [nzTabBarExtraContent]="extraTpl">
    <nz-tab nzTitle="查询参数">
      Content of Tab Pane 1
    </nz-tab>
    <nz-tab nzTitle="认证">
      Content of Tab Pane 2
    </nz-tab>
    <nz-tab nzTitle="头信息">
      Content of Tab Pane 3
    </nz-tab>
    <nz-tab nzTitle="请求体（Body）">
      Content of Tab Pane 3
    </nz-tab>
    <nz-tab nzTitle="预请求脚本">
      Content of Tab Pane 3
    </nz-tab>
    <nz-tab nzTitle="测试">
      Content of Tab Pane 3
    </nz-tab>
  </nz-tabset>

  <ng-template #extraTpl>
    <a>Cookies</a>
    <a class="ml-2">Code</a>
  </ng-template>

  <ng-template #queryParamsTab></ng-template>
  <ng-template #auhtorizationTab></ng-template>
  <ng-template #headersTab></ng-template>
  <ng-template #bodyTab></ng-template>
  <ng-template #preRequestScriptTab></ng-template>
  <ng-template #TestsTab></ng-template>

</ng-template>

<ng-template #responseInfoTpl>
  <nz-tabset [nzTabBarExtraContent]="extraTpl">
    <nz-tab nzTitle="Body">
      <ng-container [ngTemplateOutlet]="responseBodyTab"></ng-container>
    </nz-tab>
    <nz-tab nzTitle="Cookies">
      Content of Tab Pane 2
    </nz-tab>
    <nz-tab nzTitle="Headers">
      Content of Tab Pane 3
    </nz-tab>
    <nz-tab nzTitle="Test Results">
      Content of Tab Pane 3
    </nz-tab>
  </nz-tabset>

  <ng-template #extraTpl>
    <span>Status: </span>
    <span class="text-info">200 OK</span>
    <span class="ml-2">Times: </span>
    <span class="text-info">2034 ms</span>
    <span class="ml-2">Size: </span>
    <span class="text-info">204 B</span>
  </ng-template>

  <ng-template #responseBodyTab>
    <div class="d-flex">
      <div>
        <nz-radio-group>
          <label nz-radio-button nzValue="A">Pretty</label>
          <label nz-radio-button nzValue="B">Raw</label>
          <label nz-radio-button nzValue="C">Preview</label>
        </nz-radio-group>
        <nz-select class="ml-2" [ngModel]="'text'">
          <nz-option [nzLabel]="'Json'" [nzValue]="'json'"></nz-option>
          <nz-option [nzLabel]="'XML'" [nzValue]="'xml'"></nz-option>
          <nz-option [nzLabel]="'HTML'" [nzValue]="'html'"></nz-option>
          <nz-option [nzLabel]="'Text'" [nzValue]="'text'"></nz-option>
          <nz-option [nzLabel]="'Auto'" [nzValue]="'auto'"></nz-option>
        </nz-select>
        <a title="自动换行" class="ml-2">
          <i class="anticon anticon-enter"></i>
        </a>
      </div>
      <div class="actions ml-auto">
        <a><i class="anticon anticon-copy"></i></a>
        <a class="ml-2"><i class="anticon anticon-search"></i></a>
        <button nz-button nzType="dashed" class="ml-2">Save Response</button> <!-- Save to examples -->
      </div>
    </div>

    <div style="min-height: 360px; background: #fefefe; border: 1px solid #eee; margin-top: 16px;">
      
    </div>
  </ng-template>

  <ng-template #auhtorizationTab></ng-template>
  <ng-template #headersTab></ng-template>
  <ng-template #bodyTab></ng-template>
  <ng-template #preRequestScriptTab></ng-template>
  <ng-template #TestsTab></ng-template>

</ng-template>