<np-page-header title="项目">
  <ng-template #actions>
    <button (click)="null" nz-button nzType="primary">创建项目</button>
  </ng-template>
  <ng-template #content>
    <span>欢迎来到项目！</span>
    <span>项目成员可以访问项目的所有接口和文档。</span>
  </ng-template>
  <ng-template #tabs>
    <nz-tabset>
      <nz-tab nzTitle="我的项目">
      </nz-tab>
      <nz-tab nzTitle="星标项目">
      </nz-tab>
      <nz-tab nzTitle="全部项目">
      </nz-tab>
    </nz-tabset>
  </ng-template>
</np-page-header>

<div class="page-content">
  <nz-card>
    <nz-list [nzDataSource]="myProjects" [nzRenderItem]="item">
      <ng-template #item let-i>
        <nz-list-item [nzActions]="[actions]">
          <nz-list-item-meta [nzTitle]="itemTitle" [nzAvatar]="i.avatar" [nzDescription]="description">
            <ng-template #itemTitle>
              <a [routerLink]="['/project', i.id]" routerLinkActive="router-link-active"> {{i.group?.name}}{{i.group ? ' / ' : ''}}{{i.name}}</a>
            </ng-template>
            <ng-template #description>
              <div>{{i.description}}</div>
              <div>{{i.apiCount}} 个接口, {{i.docCount}} 个文档</div>
            </ng-template>
          </nz-list-item-meta>
          <ng-template #actions>
            3 ✨
          </ng-template>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </nz-card>
</div>