<ap-page-header [breadcrumbs]="[{label: '首页', link: '/'}, {label: '表单页'}, {label: '动态表单'}]"  title="动态表单"></ap-page-header>

<div class="page-content">
  <nz-card [nzBordered]="false" class="mb-4">
    <ap-dynamic-form [fields]="fields" [formGroup]="formGroup"></ap-dynamic-form>
  </nz-card>
  <nz-card [nzBordered]="false" class="mb-4">
    <ap-dynamic-form [fields]="searchForm.fields" [formGroup]="searchForm.formGroup" [nzGrid]="{column: 8}"></ap-dynamic-form>
  </nz-card>
  <nz-card [nzBordered]="false" class="mb-4">
    <ap-dynamic-form [fieldsConfig]="fields3" [nzGrid]="{column: 8}"></ap-dynamic-form>
  </nz-card>
</div>