<np-page-header title="企业网站建设">
  <ng-template #actions>
    <button nz-button nzType="primary">编辑</button>
    <button nz-button>开始</button>
    <button nz-button>延期</button>
    <button nz-button>挂起</button>
    <button nz-button>关闭</button>
    <button nz-button>返回</button>
  </ng-template>
  <ng-template #content>
    <div>
      <nz-tag nzColor="geekblue">短期项目</nz-tag>
      <nz-tag nzColor="magenta">已延期</nz-tag>
    </div>
    <div class="mt-3"> 公司企业网站建设 企业内部工时管理系统</div>
  </ng-template>
  <ng-template #contentExtra>
    <div class="d-flex extra-info">
      <div>
        <span>需求</span>
        <p>234</p>
      </div>
      <div>
        <span>任务</span>
        <p>544</p>
      </div>
      <div>
        <span>Bug</span>
        <p>234</p>
      </div>
    </div>
  </ng-template>
</np-page-header>

<div class="page-content">
  <nz-row nzGutter="24">
    <nz-col nzSpan="24">
      <nz-card nzTitle="基本信息" [nzBordered]="false">
        关联产品、关联计划
        <nz-divider></nz-divider>
        <h5>工时信息</h5>
        
        <pre>
  迭代进度 19.4%   
  开始日期	2013-06-05	预计	15工时
  截止日期	2014-06-04	消耗	1.2工时
  可用工日	365	剩余	5工时
  可用工时	17885.0工时
        </pre>
      </nz-card>
    </nz-col>
    <nz-col nzSpan="8">
      <nz-card nzTitle="项目标题燃尽图" [nzBordered]="false" [nzLoading]="true">
      </nz-card>
    </nz-col>
    <nz-col nzSpan="8">
        <nz-card nzTitle="最新动态" [nzBordered]="false" [nzLoading]="true">
          </nz-card>
    </nz-col>
    <nz-col nzSpan="8">
        <nz-card nzTitle="团队成员" [nzBordered]="false" [nzLoading]="true">
          </nz-card>
    </nz-col>
    <nz-col nzSpan="8">
        <nz-card nzTitle="文档列表" [nzBordered]="false" [nzLoading]="true">
          </nz-card>
    </nz-col>
  </nz-row>
</div>